<div class="container" *ngIf="prikaz === 1">
    <table class="katalog-kola">
        <th>Marka</th><th>Model</th><th>Slika</th><th>Od</th><th>Do</th><th>User</th><th></th>
        <tr *ngFor="let z of zauzetost">
            <td>{{z.kola.split('-')[0]}}</td>
            <td>{{z.kola.split('-')[1]}}</td>
            <td><img [src]="z.imgURL" class="kola-ikonica"></td>
            <td>
                {{z.od.getDate()}}/{{z.od.getMonth() + 1}}/{{z.od.getFullYear()}}
            </td>
            <td>
                {{z.do.getDate()}}/{{z.do.getMonth() + 1}}/{{z.do.getFullYear()}}
            </td>
            <td>{{z.user}</td> 
            <td><button name="{{z.kola}} + {{z.renta}}" (click)="Obrisi($event.target.name)">Obrisi</button></td>
        </tr>
    </table>
</div>
<!-- POTVRDA BRISANJA -->
<div *ngIf="prikaz === 2">

</div>