<h1>Promena lozinke</h1>
<br>
<div style="margin-left: 10px;"> 
    <div>
        <label style="display: inline;">Trenutna lozinka:</label>
        <input style="display: inline; margin-left: 20px;" type="password" id="currPass">
    </div>
    <br>
    <div>
        <label style="display: inline;">Nova lozinka:</label>
        <input style="display: inline; margin-left: 45px;" type="password" id="newPass">
    </div>
    <br>
    <div>
        <label style="display: inline;">Potvrdite lozinku:</label>
        <input style="display: inline; margin-left: 18px;" type="password" id="confirm">
    </div>
</div>
<br>
<button (click)="Save()" style="margin-left: 50px;">Sacuvaj</button>