<div class="container"> 
    <h1>Registracija rent-a-car kompanije</h1>
    <form [formGroup]="regRentaForm" (ngSubmit)="onSubmit()">
        <div class="form">
            <div>
                <label for="naziv">Naziv:</label>
                <input type="text" id="naziv" formControlName="naziv" class="form-control">
                <div *ngIf="regRentaForm.controls.naziv.invalid && regRentaForm.get('naziv').touched">
                    Unesite naziv
                </div>
            </div>
        </div>
        <div class="form">
            <div>
                <label for="adresa">Adresa:</label>
                <input type="text" id="adresa" formControlName="adresa" class="form-control">
                <div *ngIf="regRentaForm.controls.adresa.invalid && regRentaForm.get('adresa').touched">
                    Unesite adresu
                </div>
            </div>
        </div>
        <div class="form">
            <div>
                <label for="admin">Username admina:</label>
                <input type="text" id="admin" formControlName="admin" class="form-control">
                <div *ngIf="regRentaForm.controls.admin.invalid && regRentaForm.get('admin').touched">
                    Unesite validan username admina Rent-A-Car servisa
                </div>
            </div>
        </div>
        <div class="form">
            <div>
                <label for="opis">Opis:</label>
                <input type="text" id="opis" formControlName="opis" class="form-control">
                <div *ngIf="regRentaForm.controls.opis.invalid && regRentaForm.get('opis').touched">
                    Unesite opis
                </div>
            </div>
        </div>
        <div class="form">
            <div style="display: inline;">
                <label for="slika">Slika: </label>
                <input type="file" accept="image/x-png,image/jpeg" id="slika" formControlName="slika" style="margin-left: 7px;" (change)="onFileChanged($event.target.files)">
                <img [src]="imgURL" height="200" *ngIf="imgURL">
            </div>
        </div>
        <div>
            <div>
                <button [disabled]="!regRentaForm.valid" type="button" (click)="onSubmit()" class="btn btn-success">Sacuvaj</button>
            </div>
            <div>
                <button class="btn btn-primary" (click)="onBack()" type="button">Nazad</button>
            </div>
        </div>
    </form>
</div>