<div class="container">
    <h1>Profil</h1>
    <div style="margin-left: 100px; margin-top: 65px;">
        <div>
            <div style="display: inline;">Username: </div>
            <input disabled style="display: inline; position: relative; left: 70px;" id="username" value="{{user.userName}}">
        </div>
        <br>
        <div>
            <div style="display: inline;">Email: </div>
            <input disabled style="display: inline; position: relative; left: 103px;" id="email" value="{{user.email}}">
        </div>
        <br>
        <div>
            <div style="display: inline;">Ime: </div>
            <input style="display: inline; position: relative; left: 115px;" id="ime" value="{{user.name}}">
        </div>
        <br>
        <div>
            <div style="display: inline;">Prezime: </div>
            <input style="display: inline; position: relative; left: 85px;" id="prezime" value="{{user.lastname}}">
        </div>
        <br>
        <div>
            <div style="display: inline;">Grad: </div>
            <input style="display: inline; position: relative; left: 108px;" id="grad" value="{{user.grad}}">
        </div>
        <br>
        <div>
            <div style="display: inline;">Drzava: </div>
            <input style="display: inline; position: relative; left: 94px;" id="drzava" value="{{user.drzava}}">
        </div>
        <br>
        <div>
            <div style="display: inline;">Broj telefona: </div>
            <input style="display: inline; position: relative; left: 52px;" id="brTel" value="{{user.brojTelefona}}">
        </div>
        <br>
        <div>
            <div style="display: inline;">Broj pasosa: </div>
            <input style="display: inline; position: relative; left: 62px;" id="brPas" value="{{user.brojPasosa}}">
        </div>
        <div style="margin-left: 100px; margin-top: 30px;">
            <button style="display: inline;" (click)="ChangePassword()">Promeni password</button>
            <button style="display: inline; margin-left: 120px;" (click)="Save()">Sacuvaj</button>
        </div>
    </div>
</div>