<div *ngIf="prikaz === 0">
  <div class="container">
      <table *ngIf="filijale.count !== 0">
          <tr>
              <th style="width: 100px;">Adresa</th>
              <th style="width: 80px;">Grad</th>
              <th style="width: 80px;">Drzava</th>
          </tr>
          <tr *ngFor="let f of filijale">
              <td>{{f.adresa}}</td>
              <td>{{f.grad}}</td>
              <td>{{f.drzava}}</td>
              <td><button name="{{f.id}}" (click)="Izmeni($event.target.name)">Izmeni</button></td>
              <td><button name="{{f.id}}" (click)="Obrisi($event.target.name)">Obrisi</button></td>
          </tr>
      </table>
      <h2 *ngIf="filijale.count === 0">Trenutno nema filijala</h2>
  </div>
  <div class="container">
      <button (click)="Dodaj()">Dodaj</button>
  </div>
</div>
<div *ngIf="prikaz === 1">
  <form [formGroup]="service.filijaleForm" (submit)="onSubmit()">
      <div class="container, form">
          <table>
              <tr>
                  <td>Adresa: </td>
                  <td><input id="adresa" name="adresa" formControlName="adresa"></td>
                  <td><label *ngIf="service.filijalaForm.get('adresa').touched && service.filijalaForm.get('adresa').errors?.required">Adresa je potrebna</label></td>
              </tr>
              <tr>
                  <td>Grad: </td>
                  <td><input id="grad" name="grad" formControlName="grad"></td>
                  <td><label *ngIf="service.filijalaForm.get('grad').touched && service.filijalaForm.get('grad').errors?.required">Grad je potreban</label></td>
              </tr>
              <tr>
                  <td>Drzava: </td>
                  <td><input id="drzava" name="drzava" formControlName="drzava"></td>
                  <td><label *ngIf="service.filijalaForm.get('drzava').touched && service.filijalaForm.get('drzava').errors?.required">Drzava je potrebna</label></td>
              </tr>
          </table>
      <button [disabled]="service.filijalaForm.invalid" type="submit" class="btn btn-lg btn-block">Sacuvaj</button>
      </div>
  </form>
</div>
<div *ngIf="prikaz === 2">
  <form [formGroup]="service.filijaleForm" (submit)="SacuvajIzmene()">
      <div class="container, form">
          <table>
              <tr>
                  <td>Adresa: </td>
                  <td><input id="adresa" name="adresa" formControlName="adresa"></td>
                  <td><label *ngIf="service.filijalaForm.get('adresa').touched && service.filijalaForm.get('adresa').errors?.required">Adresa je potrebna</label></td>
              </tr>
              <tr>
                  <td>Grad: </td>
                  <td><input id="grad" name="grad" formControlName="grad" value="{{grad}}"></td>
                  <td><label *ngIf="service.filijalaForm.get('grad').touched && service.filijalaForm.get('grad').errors?.required">Grad je potreban</label></td>
              </tr>
              <tr>
                  <td>Drzava: </td>
                  <td><input id="drzava" name="drzava" formControlName="drzava" value="{{drzava}}"></td>
                  <td><label *ngIf="service.filijalaForm.get('drzava').touched && service.filijalaForm.get('drzava').errors?.required">Drzava je potrebna</label></td>
              </tr>
          </table>
      <button [disabled]="service.filijalaForm.invalid" type="submit" class="btn btn-lg btn-block">Sacuvaj</button>

      </div>
  </form>
</div>