<div class="katalog-kola">
    <form (onSubmit)="EditCar()">
        <table>
        <th>Naziv</th><th>Tip</th><th>Godiste</th><th>Broj mesta</th><th>Cena</th>
        <tr *ngFor="let car of kola">
            <td>{{car.naziv}}</td><td>{{GetTip(car.tipVozila)}}</td><td>{{car.godiste}}</td><td>{{car.brojMesta}}</td><td>{{car.cena}}</td><td><img [src]="car.imgURL" height="100px"></td><td><input type="hidden" name="ID" value="{{car.ID}}"></td><td><input type="submit" value="edit" name="editButton"></td>
        </tr>
        </table>
    </form>
</div>
<div class="container">
<a routerLink="/dodaj-kola" >Dodaj nova kola</a>

</div>