<div *ngIf="prikaz === 1" class="container" style="margin-left: 100px;">
    <form (onSubmit)="EditCar()">
        <table class="katalog-kola">
            <th>Marka</th><th>Model</th><th>Tip</th><th style="width: 30px;">Godiste</th><th>Broj mesta</th><th style="width: 50px;">Cena</th><th style="width: 50px;">Cena brze rezervacije</th>
        <tr *ngFor="let car of kola">
            <td>{{car.naziv.split('-')[0]}}</td>
            <td>{{car.naziv.split('-')[1]}}</td>
            <td>{{car.tipVozila}}</td>
            <td>{{car.godiste}}</td>
            <td>{{car.brojMesta}}</td>
            <td style="width: 50px;">{{car.cena}}</td>
            <td>{{car.cenaBrzeRezervacije}}</td>
            <td><img [src]="car.imgURL" height="100px"></td>
            <td><button name="{{car.naziv}}+{{car.nazivRente}}" (click)="EditCar($event.target.name)">Izmeni</button></td>
            <td><button name="{{car.naziv}}+{{car.nazivRente}}" (click)="DeleteCar($event.target.name)">Obrisi</button></td>
            <td><button name="{{car.naziv}}+{{car.nazivRente}}" (click)="BrzaRezervacija($event.target.name)">Dodaj brzu rezervaciju</button></td>
        </tr>
        </table>
    </form>
    <div class="container">
    <a routerLink="/dodaj-kola" >Dodaj nova kola</a>
    </div>
</div>
<!--EDIT FORM-->
<div *ngIf="prikaz === 2">
      <div class="form">
          <div class="form">
              <div>
                  <label for="marka">Marka:</label>
                  <input disabled id="marka" class="form-control"  value="{{editKola.naziv.split('-')[0]}}" style="position: relative; left: 80px;">
              </div>
          </div>
          <div class="form">
              <div>
                  <label for="model">Model:</label>
                  <input disabled id="model" class="form-control" value="{{editKola.naziv.split('-')[1]}}" style="position: relative; left: 80px;">
              </div>
          </div>
          <div class="form">
              <div>
                  <label for="brojMesta">Broj mesta:</label>
                  <input type="number" id="brojMesta" value="{{editKola.brojMesta}}" class="form-control" style="position: relative; left: 52px;">
              </div>
          </div>
          <div class="form">
              <div>
                  <label for="godiste">Godiste:</label>
                  <input type="number" id="godiste" class="form-control" value="{{editKola.godiste}}" style="position: relative; left: 73px;">
              </div>
          </div>
          <div class="form">
              <div>
                  <label for="cena">Cena:</label>
                  <input type="number" id="cena" class="form-control" value="{{editKola.cena}}" style="position: relative; left: 93px;">
              </div>
          </div>
          <div class="form">
            <div>
              <label for="cenaBrzeRezervacije">Cena brze rezervacije:</label>
              <input type="number" id="cenaBrzeRezervacije" class="form-control"  value="{{editKola.cenaBrzeRezervacije}}"style="position: relative; left: 19px;">
            </div>
          </div>
          <br>
          <div>
              <label for="tip">Tip vozila:</label>
              <select id="tip" class="form-control" style="position: relative; left: 63px;">
                <option selected disabled>{{editKola.tipVozila}}</option>
                  <option *ngFor="let t of GetTipovi()" [selected]="editKola.tipVozila === t">
                      {{t}}
                  </option>
              </select>
          </div>
      </div>
      <div style="display: inline;">
          <button (click)="Save(editKola.naziv)">Sacuvaj</button>
          <button style="margin-left: 200px;" (click)="Nazad()">Nazad</button>
      </div>
</div>

<div *ngIf="prikaz === 3" class="container">
    <h2>Dodaj brzu rezervaciju za</h2>
    <h3>{{kalendarKola.naziv}}:</h3>
    <kalendar [kola]="kalendarKola"></kalendar>
    <br>
    <button (click)="DodajBrzuRezervaciju()">Sacuvaj</button>
    <br>
    <label *ngIf="invalidBR">Ne mozete rezervisati protekle dane niti dane koji su vec rezervisani</label>
</div>
