<div style="transform: translate(0px, 30px);">
    <form [formGroup]="service.filijalaForm" (submit)="SacuvajIzmene()">
        <table>
            <tr>
                <td>Adresa: </td>
                <td><input id="adresa" name="adresa" formControlName="adresa" value="{{filijala.adresa}}"></td>
            </tr>
            <tr>
                <td>Grad: </td>
                <td><input id="grad" name="grad" formControlName="grad" value="{{filijala.grad}}"></td>
            </tr>
            <tr>
                <td>Drzava: </td>
                <td><input id="drzava" name="drzava" formControlName="drzava" value="{{filijala.drzava}}"></td>
            </tr>
        </table>
        <div class="container">
            <button id="submit" type="submit" class="btn btn-lg btn-block">Sacuvaj</button>
        </div>
    </form>
</div>