<h2>Brze rezervacije letova</h2>

<div [hidden]="empty == 1">
  <button type="button" class="btn btn-primary"  (click)="prikazi()">Brze rezervacije</button>
</div>
<div class="istorija-container" [hidden]="empty != 1">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of letHeaders">
          {{column}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of letData;let i = index">
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7]}}</td>
        <td>{{row[8]}}</td>
        <td>{{row[9]}}</td>
        <td>
          <button (click)="RezervisiLet(i)" class="btn-rez">Rezervisi</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div [hidden]="empty != 2">
  <h5>Trenutno nema brzih rezervacija!</h5>
</div>
<br>

<h2>Brze rezervacije kola</h2>
<div *ngIf="kola.length !== 0">
  <table class="katalog-kola">
    <th *ngFor="let h of kolaHeaders">{{h}}</th>
    <tr *ngFor="let k of kola">
      <td>{{k.nazivRente}}</td>
      <td>{{k.filijala}}</td>
      <td>{{k.naziv.split('-')[0]}}</td>
      <td>{{k.naziv.split('-')[1]}}</td>
      <td>{{k.godiste}}</td>
      <td>{{k.brojMesta}}</td>
      <td>{{k.tipVozila}}</td>
      <td>{{k.cena}}</td>
      <td>{{k.cenaBrzeRezervacije}}</td>
      <td>{{k.brzaRezervacijaOd.split('-')[2].split('T')[0]}}/{{k.brzaRezervacijaOd.split('-')[1]}}/{{k.brzaRezervacijaOd.split('-')[0]}}</td>
      <td>{{k.brzaRezervacijaDo.split('-')[2].split('T')[0]}}/{{k.brzaRezervacijaDo.split('-')[1]}}/{{k.brzaRezervacijaDo.split('-')[0]}}</td>
      <td style="width: 80px;">{{k.prosecnaOcena}}</td>
      <td><button name="{{k.rezId}}" (click)="Reserve($event.target.name)">Rezervisi</button></td>
    </tr>
  </table>
</div>
<div *ngIf="kola.length === 0">
  <h3>Trenutno nema kola na brzoj rezervaciji</h3>
</div>

<div>
  <button class="btn btn-primary" style="float: left; margin-left: 0.2%;" (click)="onBack()" type="button">Nazad</button>
</div>
