<!--PRIKAZ SVIH RENTI-->
<div *ngIf="prikaz === 1">
    <ul class="lista-kompanija">
        <li *ngFor="let renta of rente">
            <div class="kompanija-container">
                <div class="kompanija-element">Naziv: {{renta.naziv}}</div>
                <hr>
                <div class="kompanija-element">Adresa: {{renta.adresa}}</div>
                <hr>
                <div class="kompanija-element">Opis: {{renta.opis}}</div>
                <hr>
                <div class="kompanija-element">Prosecna ocena: {{renta.prosecnaOcena}}</div>
                <img [src]="renta.imgUrl" class="kompanija-slika">
                <!--Prosecna ocena ovde-->
                <hr>
                <button (click)="prikaziRentu(renta.naziv)">Otvori</button>
            </div>
        </li>
    </ul>
</div>

<!--PRIKAZ ODABRANE RENTE-->

<div *ngIf="prikaz === 2" style="display: inline;">
    <div style="position: absolute; top: 80px;">
        <!--Naziv kompanije-->
        <div class="kompanija-container" style="margin: 0 30px;">
            <h1>{{sr.naziv}}</h1>
        </div>
        <!-- Podaci o kompaniji i pretraga -->
        <div class="kompanija-container" style="margin: 10px 30px;">
            <h3>{{sr.adresa}}</h3>
            <hr>
            <h3>{{sr.opis}}</h3>
            <hr>
            <h3>Prosecna ocena: {{sr.prosecnaOcena}}</h3>
            <hr>
            <select (change)="OnFilijalaChanged($event.target.value)">
                <option selected name="sve">Sve filijale</option>
                <option *ngFor="let f of filijale; index as i">
                    {{i + 1}}. {{f.adresa}}, {{f.grad}}, {{f.drzava}}
                </option>
            </select>
            <hr>
            <div style="position: relative; margin: 5px;">
                <div class="filter-stavka">
                    <input type="text" placeholder="Marka" id="fMarka">
                    <input type="checkbox" id="chkMarka">
                </div>
                <div class="filter-stavka">
                    <input type="text" placeholder="Najmanje godiste" id="minGod">
                    <input type="checkbox" id="chkMinGod">
                </div>
                <div class="filter-stavka">
                    <input type="text" placeholder="Najvece godiste" id="maxGod">
                    <input type="checkbox" id="chkMaxGod">
                </div>
                <div class="filter-stavka">
                    <input type="text" placeholder="Najmanja cena" id="minCena">
                    <input type="checkbox" id="chkMinCena">
                </div>
                <div class="filter-stavka">
                    <input type="text" placeholder="Najveca cena" id="maxCena">
                    <input type="checkbox" id="chkMaxCena">
                </div>
                <button style="position: absolute; top: 50px; right: 40px;" (click)="PrimeniFilter()">Primeni</button>
            </div>
        </div>
    </div>
    <div style="position: absolute; top: 80px; left: 400px;">
        <div class="kompanija-container" style="float: left;">
            <ul class="kola-container">
                <li *ngFor="let kola of filtriranaKola">
                    <button class="kola-slika-blok" (click)="prikaziKola(kola)">
                        <img [src]="kola.imgURL" class="kola-slika-blok">
                            <div class="kola-model-text">
                                {{kola.naziv}}
                            </div>
                    </button>
                </li>
            </ul>
        </div>
        <h3><button (click)="prikaziListu()">Nazad</button>
            <button *ngIf="GetCurrentUserType() === 'RegularUser'"style="float: right;" (click)="Oceni()">Oceni</button></h3>
    </div>
</div>

<!-- PRIKAZ ZASEBNIH KOLA PO SELEKCIJI -->

<div *ngIf="prikaz === 3">
    <div style="position: absolute; top: 50px; left: 10px;">
        <!--SLIKA-->
        <div class="kompanija-container">
            <img [src]="sc.imgURL" class="kola-slika">
        </div>
        <hr style="margin: 7px 5px;">
        <!--MARKA I MODEL-->
        <div class="kompanija-container">
            <h2>{{sc.marka}}</h2>
            <h3>{{sc.model}}</h3>
        </div>
        <hr>
        <div style="display: inline; padding: 5px;">
            <button (click)="prikaziRentu('')">Nazad</button>
            <button *ngIf="GetCurrentUserType() === 'RegularUser'" style="float: right;" (click)="NapraviRezervaciju()">Napravi rezervaciju</button>
        </div>
    </div>
    <div style="position: absolute; top: 50px; left:380px">
        <!--DETALJI-->
        <div class="kompanija-container">
            <h3>Broj mesta: {{sc.brojMesta}}</h3>
            <h3>Tip: {{sc.tipVozila}}</h3>
            <h3>Godiste: {{sc.godiste}}</h3>
            <h3>Cena po danu: {{sc.cena}}</h3>
            <h3>Ocena: {{sc.prosecnaOcena}}</h3>
        </div>
        <!--KALENDAR-->
        <div *ngIf="GetCurrentUserType() !== 'User'">
            <kalendar [kola]="sc"></kalendar>
        </div>
    </div>
</div>

<div *ngIf="prikaz === 4">
    <div style="display: inline; margin:30px 30px">
      {{kolaZaOcenjivanje}}
      <label for="r1">1</label>
      <input checked="checked" type="radio" name="ocena" id="r1" value="1" (change)="ocenaChanged($event.target.value)">
      <label for="r2">2</label>
      <input type="radio" name="ocena" id="r2" value="2" (change)="ocenaChanged($event.target.value)">
      <label for="r3">3</label>
      <input type="radio" name="ocena" id="r3" value="3" (change)="ocenaChanged($event.target.value)">
      <label for="r4">4</label>
      <input type="radio" name="ocena" id="r4" value="4" (change)="ocenaChanged($event.target.value)">
      <label for="r5">5</label>
      <input type="radio" name="ocena" id="r5" value="5" (change)="ocenaChanged($event.target.value)">
    </div>
    <button (click)="PosaljiOcenu()">Oceni</button>
    <button (click)="Nazad()">Nazad</button>
</div>