<div class="izvestaj-container" *ngIf="ucitaj">
    <ul>
        <li><h3>Ocena servisa:</h3> <h4>{{ocenaServisa}}</h4></li>
        <hr>
        <li><h3>Ocena vozila: </h3>
            <select style="display: inline;" (change)="CarChanged($event.target.selectedOptions[0].innerText)">
                <option></option>
                <option *ngFor="let car of carNames">{{car}}</option>
            </select> 
            <h5 style="display: inline; margin-left: 7px;" *ngIf="ocenaKola !== 0">: {{ocenaKola}}</h5>
        </li>
        <hr>
        <li><h3>Rezervacije vozila:</h3><br>
            <div style="display: inline;">
                <input type="radio" id="dan" name="rezervacije" checked><label style="margin-right: 8px;" for="dan">Nedelja</label>
                <input type="radio" id="mesec" name="rezervacije"><label style="margin-right: 8px;" for="mesec">Mesec</label><nbsp></nbsp>
                <input type="radio" id="god" name="rezervacije"><label style="margin-right: 8px;" for="god">Godina</label>
            </div>
        </li>
        <hr>
        <li><h3>Prihodi:</h3>
            <kalendar [kola]="kalendarKola"></kalendar>
            <button (click)="IzracunajPrihode()" style="display: inline">Izracunaj</button>;<input disabled id="prihodi" style="display: inline;">
        </li>
    </ul>
</div>